body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
}

#rock, #paper, #scissors {
    height: 175px;
    width: 175px;
    background-size: cover;
    border: 1px solid transparent;
    margin: 10px;
}

#rock {
    background-image: url("rock.jpg");
}

#paper {
    background-image: url("paper.jpg");
}

#scissors {
    background-image: url("scissors.jpg");
}

h1 {
    background-color: #112A46;
    text-align: center;
    color: white;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    margin-top: 0;
    font-size: 2rem;
}

#rock:hover, #paper:hover, #scissors:hover {
    border-color: black;
    border-width: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.scoreboard {
    background-color: #112A46;
    padding: 20px;
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

.scores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.your-score, .computer-score {
    font-size: 24px;
    font-weight: bold;
}

#play {
    color: #4CAF50;
    margin: 40px 0;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#reset-btn {
    margin-top: 5px;
    display: block;
    align-items: center;
    height: 2rem;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

#reset-btn:hover {
    opacity: 0.8;
}

#reset-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        height: 4rem;
        line-height: 4rem;
    }

    #rock, #paper, #scissors {
        height: 150px;
        width: 150px;
    }

    #play {
        font-size: 1.5rem;
    }

    .scoreboard {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        height: 3rem;
        line-height: 3rem;
    }

    #rock, #paper, #scissors {
        height: 120px;
        width: 120px;
    }

    #play {
        font-size: 1.2rem;
    }

    .your-score, .computer-score {
        font-size: 20px;
    }

    #result {
        font-size: 20px;
    }
}
